
.icon-search:before { content: '\e800'; } /* '' */
.icon-beer:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e803'; } /* '' */
.icon-wine:before { content: '\e804'; } /* '' */
.icon-right-big:before { content: '\e805'; } /* '' */
.icon-left-big:before { content: '\e806'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
